PolicyAdminUI/war/commontypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebayopensource.org/turmeric/common/v1/types"
	xmlns:tns="http://www.ebayopensource.org/turmeric/common/v1/types">
	
	<xs:complexType abstract="true" name="BaseRequest">
		<xs:annotation>
			<xs:documentation>
				This is the base class for request container for
				all service operations.
			</xs:documentation>
			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
				</typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension"
				type="tns:ExtensionType">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtensionType">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here
			</xs:documentation>

			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
				</typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:positiveInteger"></xs:element>
			<xs:element name="version" type="xs:string"></xs:element>
			<xs:element name="contentType" type="xs:string"></xs:element>
			<xs:element name="value" type="xs:string"></xs:element>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax">
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error
				(causing the request to fail) or an
				informational error (a warning)
				that should be
				communicated to the user.
			</xs:documentation>
			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
				</typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">

			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully,
						but
						something occurred that may affect
						your application or the user.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>

					<xs:documentation>
						The request that triggered the error was
						not
						processed successfully. When a
						serious application-level error
						occurs,
						the error is returned instead of the
						business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was
						processed successfully but with some
						warnings.
					</xs:documentation>

				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was
						processed successfully but with some
						warnings.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

		</xs:restriction>
	</xs:simpleType>
	<xs:complexType abstract="true" name="BaseResponse">
		<xs:annotation>
			<xs:documentation>
				Base response container for all service
				operations. Contains error information
				associated with the request.
			</xs:documentation>
			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
				</typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to
						fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that
						occurred when eBay processed the
						request.
					</xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>

			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation></xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension"
				type="tns:ExtensionType">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				The category of the error. It is used to categorized the errors for
				easier searching or debuging.
			</xs:documentation>
			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
				</typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>

		<xs:restriction base="xs:token">
			<xs:enumeration value="System"></xs:enumeration>
			<xs:enumeration value="Application"></xs:enumeration>
			<xs:enumeration value="Request"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>
				The error date contains detailed information about this error.
			</xs:documentation>

			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="errorId" type="xs:long">
				<xs:annotation>
					<xs:documentation>
						The predefined unique ID of the error. User can find the message
						template from the ID
						in the error library.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="domain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The domain where the error has occured.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="subdomain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The subdomain where the error has occured.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="severity" type="tns:ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						The serviry level of the occuring error, Error or Warning.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="tns:ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						The category of the error. Could be System, Application or Request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The detail message of error.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptionId" type="xs:token">
				<xs:annotation>
					<xs:documentation>
						The ID of the exception
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter"
				type="tns:ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						The runtime variables which are related to this error. These
						parameters are normally
						used with the message template to construct the detail runtime error
						message.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>


	</xs:complexType>
	<xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>

			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>

		<!-- <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" 
			/> </xs:sequence> -->

		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="error"
				type="tns:CommonErrorData">
			</xs:element>
		</xs:sequence>

	</xs:complexType>
	<xs:complexType name="CommonErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
			</xs:appinfo>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="tns:ErrorData">
				<xs:sequence>
					<xs:element name="errorName" type="xs:string"></xs:element>
					<xs:element name="cause" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="resolution" type="xs:string"
						minOccurs="0"></xs:element>
					<xs:element name="errorGroups" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Error group values are whitespace separated
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organization" type="xs:string"></xs:element>
					<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>

			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>

		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
			<xs:appinfo>
				<typeLibrarySource library="common-type-library"
					namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
			</xs:appinfo>
		</xs:annotation>

		<xs:restriction base="xs:token">
			<xs:enumeration value="Error"></xs:enumeration>
			<xs:enumeration value="Warning"></xs:enumeration>
		</xs:restriction>

	</xs:simpleType>
</xs:schema>
